# Import python packages
import streamlit as st
from snowflake.snowpark.context import get_active_session
from snowflake.snowpark.functions import col

# アプリのタイトルと説明
st.title(":cup_with_straw: Pending Smoothie Orders :cup_with_straw:")
st.write(" Orders that need to be filled. ")

# Snowparkセッションの取得
session = get_active_session()

# 未完了の注文のみをフィルタリング
# BOOLEANのFALSEは0としてフィルタリングします
# フィルタリングされたデータフレームをStreamlitの data_editor に渡す
my_dataframe = session.table("smoothies.public.orders").filter(col("ORDER_FILLED") == 0).collect()

# Streamlitでデータを表示し、編集可能にする
# 編集されたデータは即座にSnowflakeテーブルに書き戻されます
# key='pending_orders' を追加して、Streamlitに一意のキーを与えます
if my_dataframe:
    edited_df = st.data_editor(
        data=my_dataframe, 
        key='pending_orders', 
        use_container_width=True
)

submitted = st.button('Submit')

if submitted:
    try:
        og_dataset = session.table("smoothies.public.orders")
        edited_dataset = session.create_dataframe(editable_df)
        og_dataset.merge(edited_dataset
                     , (og_dataset['ORDER_UID'] == edited_dataset['ORDER_UID'])
                     , [when_matched().update({'ORDER_FILLED': edited_dataset['ORDER_FILLED']})]
                    )
        st.success("Someone clicked the button.", icon="👍")
    except:
        st.write(" Something went wrong. ")
        
else:
    st.success ('There are no pending orders right now', icon="👍")
